*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    padding: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}
.logo img{
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-top: 5px;
    height: 25px;
}
.navbar{
    justify-content: space-around;
    align-items: center;
    display: flex;
    height: 20px;
}
.navbar nav{
    display: flex;
    justify-content: space-around;
}
.navbar nav a{
    margin: 15px;
    text-decoration: none;
    font-weight: 600;
    color: black;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}
.login{
    color: white;
    background-color: #D01C28;
    height: 25px;
    width: 80px;
    border-radius: 5px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}
.login:hover{
    background-color: red;
    transition: 500ms;
}
.navbar nav a:hover{
    color: #D01C28;
    transition: 300ms;
}